<ion-content>
  <div class="body">
    <div class="header">
      <div class="home-container">
        <ion-img class="logo" src="/assets/logo.png" alt="Logo"></ion-img>
        <ion-title class="app-name">Planify</ion-title>
      </div>

      <div class="btn-container">
        <ion-button class="btn btn-register" (click)="goToRegister()">
          Registrarse
        </ion-button>
        <ion-button class="btn btn-login" (click)="goToLogin()">
          Iniciar sesión
          <div class="arrow-wrapper">
            <div class="arrow"></div>
          </div>
        </ion-button>
      </div>
    </div>

    <div class="init">
      <div class="init-background">
        <div class="init-content-box">
          <div class="init-text">
            <ion-text class="title">
              Organiza tus reuniones de manera fácil y eficiente
            </ion-text>
            <ion-text class="description">
              Simplifica la planificación, coordina a tu equipo y mantén todas tus
              citas bajo control, todo en un solo lugar.
            </ion-text>
            <ion-button class="btn btn-secondary" (click)="goToAbout()">Descubre más</ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-section">
      <!-- Sección de Introducción -->
      <div id="about" #aboutSection class="section about">
        <div class="about-description">
          <ion-title>¿Por qué elegirnos?</ion-title>

          <div class="about-text">
            <ion-text>
              Ofrecemos una plataforma avanzada para la gestión de reuniones
              telemáticas diseñada para mejorar tanto la productividad como la
              eficiencia de los equipos. Con una interfaz intuitiva y optimizada,
              podrás coordinar tus reuniones de manera sencilla y asegurar una
              mejor gestión de tu tiempo y el de tu equipo.
            </ion-text>
            <ion-text>
              Podrás programar reuniones de forma precisa, evitando solapamientos
              y respetando siempre el derecho de desconexión digital de los
              trabajadores fuera de su horario laboral. Con Planify, podrás:
            </ion-text>
            <ion-list>
              <ion-item>
                Organizar tus reuniones en segundos y visualizarlas en un
                calendario global.
              </ion-item>
              <ion-item>
                Registrar tus ausencias y notificarlas a los organizadores de tus
                reuniones.
              </ion-item>
              <ion-item>
                Consultar la disponibilidad de tus compañeros e invitarlos a tus
                reuniones.
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="about-image">
          <ion-img src="/assets/home_about.png" alt="About"></ion-img>
        </div>
      </div>

      <!-- Sección de Características -->
      <div class="section features">
        <ion-title>Características destacadas</ion-title>
        <div class="features-line"></div>
        <div class="feature-cards">
          <div class="feature-card">
            <ion-title>Planificación inteligente de reuniones</ion-title>
            <ion-text>
              Programa tus reuniones de manera automática y sin solapamientos,
              detectando los horarios más convenientes según la disponibilidad
              real de cada miembro.
            </ion-text>
          </div>
          <div class="feature-card">
            <ion-title>Notificaciones y recordatorios personalizados</ion-title>
            <ion-text>
              Recibe notificaciones y recordatorios adaptados a tus necesidades
              para no perderte ninguna reunión importante y gestionar tu tiempo de
              manera eficaz.
            </ion-text>
          </div>
          <div class="feature-card">
            <ion-title>Gestión de disponibilidad y ausencias</ion-title>
            <ion-text>
              Consulta la disponibilidad de tu equipo y notifica ausencias
              directamente en el calendario, optimizando la planificación y
              evitando malentendidos.
            </ion-text>
          </div>
        </div>
      </div>

      <!-- Sección de Testimonios -->
      <div class="section testimonials">
        <ion-title>Lo que dicen nuestros usuarios</ion-title>
        <div class="testimonials-line"></div>
        <div class="testimonial-cards">
          <div class="testimonial-card">
            <ion-text>
              "Planify ha transformado la forma en que organizamos reuniones en
              nuestra empresa. ¡Altamente recomendada!"
            </ion-text>
            <ion-text style="font-style: normal">
              <strong>- Antonio Santos-Olmo Parra</strong>, CEO de Empresa ACME & Co.
            </ion-text>
          </div>
          <div class="testimonial-card">
            <ion-text>
              "Gracias a esta herramienta, puedo planificar y gestionar mis
              proyectos de manera más fácil y eficiente."
            </ion-text>
            <ion-text style="font-style: normal">
              <strong>- María Ángeles Moraga De La Rubia</strong>, Gerente de Proyectos Software
            </ion-text>
          </div>
          <div class="testimonial-card">
            <ion-text>
              "¡Esta aplicación me encanta! Cumple con estándares de calidad que
              otras empresas de la competencia no."
            </ion-text>
            <ion-text style="font-style: normal">
              <strong>- Fernando Gualo Cejudo</strong>, Ingeniero de Calidad
            </ion-text>
          </div>
          <div class="testimonial-card">
            <ion-text>
              "En esta plataforma, tengo la certeza de que nuestros datos están
              protegidos. La seguridad que ofrece es superior a la de otras
              herramientas."
            </ion-text>
            <ion-text style="font-style: normal">
              <strong>- Luis Enrique Sánchez Crespo</strong>, Especialista en Ciberseguridad
            </ion-text>
          </div>
        </div>
      </div>

      <!-- Llamado a la Acción -->
      <div class="section call-to-action">
        <ion-title>¿Listo para mejorar tu productividad?</ion-title>
        <ion-text>
          Comienza a organizar tus reuniones con nosotros y experimenta la
          eficiencia que necesitas.
        </ion-text>
        <ion-button class="btn btn-primary" (click)="goToRegister()">
          Regístrate gratis
        </ion-button>
      </div>
    </div>
    <!-- Footer -->
    <ion-footer class="footer">
      <ion-text>© 2024 Planify. Todos los derechos reservados.</ion-text>
    </ion-footer>
  </div>
</ion-content>