body {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  overflow-y: hidden;
}

.main-container {
  display: flex;
  height: auto;
  overflow-y: hidden;
  flex: 1;
}

.menu-lateral {
  height: auto;
  min-height: 2015px;
  width: 240px;
  background: #023047;
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  overflow-y: hidden;
}

.home-container {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: absolute;
  top: 0;
}

.app-name {
  font-size: 3rem; /* Aumentar el tamaño de fuente */
  padding: 20px;
  color: white;
}

.logo {
  width: 150px; /* Aumentar el tamaño del logo */
  height: 150px;
  padding: 10px;
  margin-top: 10px;
}

.btn-aside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin: 10px;
  position: absolute;
  top: 110px;
  font-size: 1.8rem;
}

.perfil-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.btn {
  background: #219ebc;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  padding: 20px 25px; /* Aumentar el padding */
  text-align: center;
  margin: 0 9px;
}

.btn:hover {
  background: #219ebc;
}

.header {
  height: auto;
  background: none;
  display: flex;
  justify-content: right;
  position: relative;
  padding-top: 0;
}

.closebtn {
  width: 50px; /* Aumentar el tamaño del botón */
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 1000;
  position: fixed; /* Cambiar a fixed para que esté fuera de la barra azul */
  top: 130px;
  right: 10px;
}

.close {
  width: 50px;
  height: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2px;
}

.pers_data-account-photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pers_data-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}

.pd-info {
  width: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.showPwd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.account-info {
  width: auto;
  margin-left: 10px;
  font-size: 2rem;
}

.confirm-pwd {
  font-size: 2rem; /* Aumentar el tamaño de fuente */
}

.uploadImg {
  width: 40%; /* Aumentar el tamaño de la imagen */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 100%;
}

.fieldImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px; /* Aumentar el tamaño del campo */
  background-color: #023047;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.isblocked-user {
  background-color: #ee6352;
  border: 1px solid #ee6352;
}

.isInactive-user {
  background-color: #cdcece;
}

.userImage {
  width: 160px; /* Aumentar el tamaño de la imagen */
  height: 160px;
  border-radius: 50%;
  border: 2px #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  margin: 0 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: center;
}

.userImage:hover {
  transform: scale(1.2);
}

fieldset {
  margin: 5px;
  border: 1px solid #023047;
  background: #b3b3b3;
  border-width: 5px;
  border-radius: 25px;
  width: calc(100% - 50px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.fieldBusiness {
  height: fit-content;
}

.inside-fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 15px;
}

.pd-account-inside-fieldset {
  flex-direction: column;
  gap: 10px;
  width: 750px;
}

.business-inside-fieldset {
  flex-direction: row;
  gap: 20px;
  width: 750px;
}

.user-small-fields {
  display: flex;
  flex-direction: row;
  position: relative;
}

.areaBusiness {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-discharge_date,
.department-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center-discharge_date-info {
  width: 750px;
}

.department-profile-info {
  width: 750px;
}

.uploadBtn {
  all: unset;
  width: 200px;
  margin: 10px;
}

.footer {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100vw - 240px);
  color: white;
  position: fixed;
  z-index: 1;
}

.btn-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  overflow: hidden;
}

.btn-footer {
  background: #219ebc;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  font-weight: bold;
  padding: 20px 25px; /* Aumentar el padding */
  text-align: center;
  margin: 0 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease;
}

.btn-footer:hover {
  background: #219dbc9f;
  transform: scale(1.1);
}

.btn-event {
  background: #219dbc96;
  cursor: not-allowed;
  color: white;
  border-radius: 15px;
  letter-spacing: 2px;
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  padding: 20px 25px; /* Aumentar el padding */
  text-align: center;
  margin: 0 9px;
}

legend {
  font-size: 2.5rem; /* Aumentar el tamaño de fuente */
  font-weight: bold;
  color: #ffffff;
  background-color: #023047;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

strong {
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  font-weight: bold;
  color: #ffffff;
  background-color: #023047;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

input {
  width: 100%; /* Aumentar el ancho para ocupar toda la pantalla */
  padding: 15px; /* Aumentar el padding */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #023047;
  height: 45px; /* Aumentar la altura */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  transition: border-color 0.3s, background-color 0.3s;
  font-weight: bold;
  font-size: 1rem; /* Aumentar el tamaño de fuente */
}

input:hover {
  border: 3px solid #219ebc;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  height: auto;
  min-height: 2015px;
  background: #d9d9d9;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;
}

.compulsory-icon {
  width: 24px;
  height: 14px;
  margin-bottom: 35px;
  margin-right: -10px;
}

.compulsory-message-account {
  margin-right: -10px;
}

.discharge_date_icon {
  margin-bottom: 60px;
}

.validation-icon {
  position: absolute;
  right: 10px;
  align-self: center;
  display: flex;
  z-index: 1000;
  width: 25px;
}

.v-icon-pwd1 {
  margin-right: 42.5px;
}

.v-icon-discharge-date {
  margin-right: 25px;
}

/* Estilo cuando el input es inválido */
.input-invalid {
  border: 3px solid red;
  background-color: #ffe6e6;
}

/* Estilo cuando el input es válido (opcional) */
.input-valid {
  border: 3px solid green;
  background-color: #e6ffe6;
}

.pwds-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* Media queries para dispositivos móviles */
@media (max-width: 480px) {
  body {
    font-size: 2.5rem; /* Aumentar el tamaño de fuente para móviles */
    height: auto;
  }

  .content {
    height: auto;
    min-height: 2015px;
    padding: 20px; /* Añadir un padding para mayor legibilidad */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 150px;
    overflow-y: hidden;
  }

  input,
  select {
    width: 100%; /* Mantén el ancho completo */
    padding: 25px; /* Incrementa ligeramente el padding */
    font-size: 2rem; /* Tamaño de fuente más grande para mayor legibilidad */
    border: 2px solid #023047;
    border-radius: 10px; /* Bordes más sutiles */
    height: 70px; /* Incrementa la altura para alinearse con la fuente */
  box-sizing: border-box;
  }

  .menu-lateral {
    width: 100%;
    height: auto;
    position: relative;
  }

  .home-container {
    flex-direction: column;
    position: static;
    height: 180px;
    overflow-y: hidden;
  }
  
  .logo {
    width: 150px; /* Aumentar el tamaño del logo */
    height: 150px;
  }
  
  .app-name {
    font-size: 3rem; /* Aumentar el tamaño de la fuente del nombre de la app */
  }

  .btn-aside-container,
  .perfil-container {
    position: static;
    margin: 10px 0;
    font-size: 2.5rem;
  }

  .btn {
    margin: 10px 0;
  }

  .header {
    justify-content: center;
  }

  .sidebar__nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 1000px;
  }

  .closebtn {
    position: fixed; /* Asegurar que esté fuera de la barra azul */
    top: 10px;
    right: 10px;
    margin: 0;
  }

  .user-info,
  .pers_data-account,
  .pers_data-account-photo {
    flex-direction: column;
    align-items: center;
  }

  .account-info {
    width: 100%;
    margin: 10px 0;
  }

  .uploadImg {
    width: 100%;
  }

  .fieldImg {
    width: 100%;
    height: auto;
  }

  .fieldset {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 0;
  }

  .inside-fieldset {
    flex-direction: column;
  }

  .user-small-fields {
    flex-direction: column;
  }

  .areaBusiness {
    flex-direction: column;
  }

  .center-discharge_date-info,
  .department-profile-info {
    width: 100%;
    min-width: 600px;
    font-size: 2rem;
  }

  .footer {
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    min-height: 280px;
  }

  .btn-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    flex-direction: column;
    gap: 20px;
  }

  .btn-footer {
    width: 70%;
    padding: 25px; /* Aumenta ligeramente el padding */
    font-size: 2rem; /* Incrementa el tamaño de la fuente */
    border-radius: 25px; /* Bordes más redondeados */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Sombra más ligera */
  }
  
}