<h2 mat-dialog-title>Verificación con doble factor de autenticación</h2>
<mat-dialog-content>
  <div class="message-qr-container">
    <div class="message">
      <p [innerHTML]="message"></p>
      <input
        *ngIf="!hasQr"
        matInput
        [(ngModel)]="verificationcode"
        placeholder="Código de verificación"
      />
    </div>
    <div class="qr">
      <!-- Mostrar imagen del QR si existe -->
      <img *ngIf="hasQr && !showCode" class="qr" src="{{ qrCode }}" alt="QR Code" />
      <!-- Mostrar código secreto como texto alternativo -->
      <p *ngIf="hasQr && showCode">
        Si estás configurando en este mismo dispositivo, usa este código:
        <strong>{{ secretKey }}</strong>
        <button mat-button (click)="copyToClipboard()">Copiar código</button>
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="btn">
  <div class="container">
    <div class="btn-container">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button
        *ngIf="hasQr && !showCode"
        mat-button
        color="warn"
        class="red"
        (click)="toggleCodeView()"
      >
        No puedo escanear el código QR
      </button>
      <button
        *ngIf="hasQr && showCode"
        mat-button
        color="warn"
        class="red"
        (click)="onGoverify()"
      >
        Ya tengo mi código en la aplicación
      </button>
      <button
        *ngIf="!hasQr"
        mat-button
        color="warn"
        class="blue"
        (click)="onVerify()"
      >
        Verificar
      </button>
    </div>
    <div class="error">
      <span class="error-message" style="color: red"> {{ error }} </span>
    </div>
  </div>
</mat-dialog-actions>
