<mat-card class="legendModal">
    <mat-card-content class="legendModal-content">
        <span class="close" (click)="closeLegendModal()">&times;</span>
        <h2>Leyenda de colores</h2>
        <div class='legendModal-line'></div>
        <div class="legendModal-cards">
          <div class="card organizer"><p>Reunión Abierta (Organizador)</p></div>
          <div class="card accepted"><p>Reunión Aceptada (Asistente)</p></div>
          <div class="card pending"><p>Reunión Pendiente (Asistente)</p></div>
          <div class="card rejected"><p>Reunión Rechazada (Asistente)</p></div>
          <div class="card closed"><p>Reunión Cerrada</p></div>
          <div class="card absence"><p>Ausencia</p></div>
          
        </div>
    </mat-card-content>
  </mat-card>