<div class="background">
  <div class="form-container">
    <form>
      <img class="logo" src="../../assets/logo.png" alt="Planify" />
      <h1>Recuperar contraseña</h1>
      <input
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        required
        placeholder="Correo electrónico"
      />
      <input
        class="button"
        type="button"
        [ngClass]="{ 'active-button': isClicked, 'disabled-button': !isClicked }"
        (click)="sendEmail()"
        [disabled]="isClicked"
        value="Enviar correo de recuperación"
      />
      <p>¿Ya tienes cuenta? <a [routerLink]="'/login'">Iniciar sesión</a></p>
      <span *ngIf="respuesta" class="respuesta-message">{{ respuesta }}</span>
    </form>
  </div>
</div>
