/* Estilos base */
.legendModal-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.legendModal-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.legendModal {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.legendModal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888; 
  border-radius: 8px; 
  width: 90%; /* Cambiado para pantallas pequeñas */
  max-width: 400px; /* Límite máximo para pantallas grandes */
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.legendModal h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: #023047;
  margin-bottom: 0;
}

.legendModal-line {
  width: 100%;
  height: 5px;
  background-color: #e74c3c;
  margin-inline: auto;
  border-radius: 5px;
  margin-bottom: 11px;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 12px 0;
  width: 100%; /* Responsivo */
  max-width: 300px; /* Límite máximo */
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card.user {
  background-color: #023047; 
  color: white; 
}

.user-card.blocked {
  background-color: #ee6352;
  color: white;
}

.user-card.inactive {
  background-color: #f6aa3b;
  color: white;
}

.user-card p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black; 
  cursor: pointer; 
}

/* Media Queries para adaptarse a pantallas pequeñas */
@media (max-width: 375px) { /* iPhone SE y similares */
  .legendModal-btn {
    width: 30px;
    height: 30px;
  }

  .legendModal-content {
    padding: 15px;
    width: 95%;
  }

  .legendModal h2 {
    font-size: 1.3em;
  }

  .user-card {
    padding: 8px;
    font-size: 0.9rem;
  }

  .user-card p {
    font-size: 1rem;
  }
}

/* Tamaño mínimo para evitar que se encoja demasiado */
@media (min-width: 320px) {
  .legendModal-content {
    min-width: 280px;
  }

  .user-card {
    min-width: 250px;
  }
}