.body {
  background: linear-gradient(
    90deg,
    rgba(2, 48, 71, 1) 1%,
    rgba(33, 158, 188, 1) 62%
  );
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-family: Stencil Std, fantasy;
  font-weight: 200;
}

.logo {
  width: 150px;
  height: 150px;
  padding: 10px;
  justify-content: center;
  margin: auto;
}

form {
  background-color: #d9d9d9;
  padding: 20px; /* Espacio interno alrededor del contenido */
  border-radius: 15px; /* Bordes redondeados para el formulario */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los inputs */
  width: 500px; /* Ajustar el ancho del formulario */
  margin: auto; /* Centrar el formulario en la pantalla */
  gap: 15px;
}

input {
  width: 100%;
  padding: 10px; /* Espacio interno dentro de los inputs */
  margin-bottom: 20px; /* Espacio entre los inputs */
  border: none;
  border-radius: 15px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del input ? */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.199);
}

.button {
  width: 100%;
  background-color: #219ebc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.199);
}

a {
  text-decoration: none;
  color: #219ebc;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.respuesta-message {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  margin-top: 30px;
  text-align: center;
}

.mostrar-contrasenas {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y la imagen */
  justify-content: center;
  gap: 10px; /* Espacio entre la imagen y el texto */
}

.mostrar-contrasenas p {
  margin: 0;
}

.show-password{
  margin-bottom: 15px;
  height: 30px;
}

.showPwd {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 35px; /* Ajusta la altura de la imagen si es necesario */
  width: auto;
  vertical-align: middle; /* Alinea verticalmente la imagen en relación con el texto */
}

.pwd1-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position:relative;
  width: 100%;
  
}