<div class="body">
  <div class="form-container">
    <form>
      <img class="logo" src="../../../assets/logo.png" alt="Planify" />
      <h1>Cambiar contraseña</h1>
      <input
        type="eamil"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        required
        placeholder="Correo electrónico"
      />
      <span class="pwd1-container">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="pwd1"
        [ngModelOptions]="{ standalone: true }"
        required
        placeholder="Contraseña"
      />
        <button
        class="show-password"
        (click)="showPassword = !showPassword"
        type="button"
      >
      <img
      class="showPwd"
      [src]="
        showPassword
          ? '../../assets/verContraseña.png'
          : '../../assets/NOverContraseña.png'
      "
      alt="ShowPassword"
    />
    </button>
    </span>

      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="pwd2"
        [ngModelOptions]="{ standalone: true }"
        required
        placeholder="Confirmar contraseña"
      />

      <input
        class="button"
        type="button"
        (click)="changePassword()"
        value="Cambiar contraseña"
      />
      <span class="respuesta-message">{{ respuesta }}</span>
    </form>
  </div>
</div>
