<div class="common-interface">
  <div class="body">
    <div class="main-content">
      <app-sidebar class="sidebar"></app-sidebar>

      <div class="close-content">
        <button class="closebtn" (click)="closeWindow()">
          <img class="close" src="../../assets/btnCerrar.png" alt="Close" />
        </button>
      </div>
      <div class="content-absences">
        <app-list-absences></app-list-absences>
        <app-add-absence></app-add-absence>
      </div>
    </div>
  </div>
</div>
