<div class="menu-lateral">
  <div class="home-container">
    <img class="logo" src="../../../assets/logo.png" alt="Logo" />
    <h1 class="app-name">Planify</h1>
  </div>

  <div class=sidebar__nav *ngIf="actualUser.dtype == 'CommonUser'">
    <button class="btn sidebar__item" routerLink="/user-calendar" routerLinkActive="active">
      Mis Reuniones
    </button>
  </div>

  <div class="sidebar__nav">
    <div class="notifications-container">
    <!-- Campanita de Notificaciones -->
    <button id="notification-button" class="notification-button" (click)="toggleNotifications()">
      <span id="notification-count" *ngIf="notificationCount > 0" class="notification-count">
        {{ notificationCount }}
      </span>
      <img class="logo" src="../../../assets/campana.png" alt="Logo" />
    </button>
    </div>
    <div *ngIf="showNotifications" class="notifications-dropdown">
      <ul>
        <label *ngIf="notifications.length === 0" style="color:black">No hay más notificaciones.</label>
        <li *ngFor="let notification of notifications; let i = index"
        [ngClass]="{'unread': !notification.reading_date, 'read': notification.reading_date}"
        (click)="markAsRead(notification, i)"
        (click)="openNotificationDetail(notification.message)">
          {{ notification.message }}
          <button class="delete-button" (click)="removeNotification(i, $event)">
            <img class="delete-button-img" src="../../../assets/deleteImage.png" />
          </button>
        </li>
      </ul>
    </div>
    </div>

  <div class="perfil-container">
    <div class="actualuser" *ngIf="actualUser.dtype == 'Administrator'" routerLink="/inspect-admin/{{actualUser.id}}" routerLinkActive="active">
      <img class="actualUserImg" src="{{actualUser.photo}}" alt="Perfil" />
      <p class="actualUserImgName"></p>
    </div>
    <div class="actualuser" *ngIf="actualUser.dtype == 'CommonUser'" routerLink="/inspect-user/{{actualUser.id}}" routerLinkActive="active">
      <img class="actualUserImg" src="{{actualUser.photo}}" alt="Perfil" />
      <p class="actualUserImgName"></p>
    </div>
    <div class="exit" *ngIf="actualUser.dtype == 'Administrator' || actualUser.dtype == 'CommonUser'" (click)="logOut()">
      <img class="exitImg" src="../../../assets/cerrarSesion.png" alt="Salir">
      <p class="actualUserImgName"></p>
    </div>
  </div>
</div>
