.menu-lateral {
  height: auto;
  min-height: 2015px;
  width: 240px;
  background: #023047;
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  overflow-y: hidden;
}

.home-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  position: absolute;
  top: 0;
}

.app-name {
  font-size: 2rem;
  padding: 20px 20px 20px 10px;
  color: white;
  margin: 0;
}

.logo {
  width: 95px;
  height: 95px;
  padding: 10px;
}

.sidebar__nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.sidebar__item.active {
  background: #f6aa3b;
  color: #023047;
}

.btn {
  background: #219ebc;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 17px 20px;
  text-align: center;
  margin: 0 9px;
}

.perfil-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.actualuser {
  cursor: pointer;
}

.actualuser.active {
  background: #f6aa3b;
  color: #023047;
}

.actualuser.active p {
  color: #023047;
  font-weight: bold;
}

.exit {
  cursor: pointer;
}

.actualUserImg{
  object-fit: cover;
  object-position: center;
}

.notifications-container {
  position: fixed;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-top: 580px;
}

.notification-button {
  background: none;
  border: none;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 2px 6px;
}

.notifications-dropdown {
  position: absolute;
  bottom: calc(100% + 10px); /* Cambiado para desplegar hacia arriba */
  left: 0;
  background: white;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra ajustada para arriba */
  border-radius: 4px;
  width: 250px;
  z-index: 1000;
  padding: 10px;
  animation: slideUp 0.3s ease-in-out; /* Animación opcional */
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notifications-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notifications-dropdown li {
  position: relative;
  padding: 10px 40px 10px 10px;
  border-bottom: 1px solid #ddd;
  color: black;
  font-size: 12px;
  white-space: nowrap; /* Evita que el texto ocupe múltiples líneas */
  overflow: hidden; /* Oculta el texto que no cabe */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  cursor: pointer;
}

.notifications-dropdown li:last-child {
  border-bottom: none;
}

.delete-button {
  position: absolute;
  right: 10px; /* Ubicación en la parte derecha */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  visibility: hidden; /* Oculta la cruz por defecto */
  transition: visibility 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.notifications-dropdown li:hover .delete-button {
  visibility: visible; /* Muestra la cruz al pasar el cursor */
  opacity: 1;
}

.unread {
  background-color: white;
  color: black;
  font-weight: normal;
}

.read {
  background-color: #f0f0f0;
  color: #888;
  font-weight: normal;
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 1024px) {
  .menu-lateral {
    width: 200px; /* Reduce el tamaño del menú lateral en pantallas medianas */
  }
}